<div class="card bg-light pb-3">
  <div class="card-header font-weight-bold">Add Product</div>
  <div class="card-body pt-0 pl-0 pb-0 pr-0">

    <form  [formGroup]="productForm" novalidate>

      <!--name-->
      <div>
      <mat-form-field class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name:</span>
        <input matInput placeholder="name" formControlName="name" type="text"  aria-describedby="basic-addon1">

      </mat-form-field>
      </div>
      <div *ngIf="productForm.get('name').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('name').valid || !productForm.get('name').dirty">
          Name is required.
      </div>

      <!--quantity-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon2">Quantity:</span>
          <input matInput placeholder="quantity" formControlName="qty" type="number" min="0" pattern="[0-9]"  aria-describedby="basic-addon2">

        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('qty').hasError('required')" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('qty').valid || !productForm.get('qty').dirty">
        Quantity is required.
      </div>
      <div *ngIf="productForm.get('qty').hasError('pattern') && !productForm.get('qty').hasError('min')" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('qty').valid || !productForm.get('qty').dirty">
        Quantity must be a non-decimal number.
      </div>
      <div *ngIf="productForm.get('qty').hasError('min')" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('qty').valid || !productForm.get('qty').dirty">
        Quantity must be positive.
      </div>


      <!--product number-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon3">Product number:</span>
          <input matInput placeholder="product number" formControlName="productnumber" type="text"  aria-describedby="basic-addon3">

        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('productnumber').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('productnumber').valid || !productForm.get('productnumber').dirty">
        Product number is required.
      </div>

      <!--description-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon4">Description:</span>
          <textarea  matInput placeholder="description" formControlName="description" type="text"  aria-describedby="basic-addon4"></textarea>

        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('description').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('description').valid || !productForm.get('description').dirty">
        Name is required.
      </div>

      <!--tags-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon5">Tags:</span>
          <input matInput placeholder="tag, tag, tag" formControlName="tags" type="text"  aria-describedby="basic-addon5">
        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('tags').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('tags').valid || !productForm.get('tags').dirty">
        Tags are required.
      </div>

      <!--category-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon6">Category:</span>
          <input matInput placeholder="category" formControlName="category" type="text"  aria-describedby="basic-addon6">

        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('category').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('category').valid || !productForm.get('category').dirty">
        Category is required.
      </div>

      <!--image-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon7">Image:</span>
          <input matInput placeholder="image url" formControlName="image" type="text"  aria-describedby="basic-addon7">

        </mat-form-field>
      </div>
      <div *ngIf="productForm.get('image').invalid" class="alert alert-danger error-message" role="alert" [hidden]="productForm.get('image').valid || !productForm.get('image').dirty">
        Image is required.
      </div>

      <!--active-->
      <div>
        <mat-form-field class="input-group">
          <span class="input-group-addon" id="basic-addon8">Active:</span>

          <input type="radio"
                 value="true"
                 [checked]="true"
                 formControlName="active"
                 id="isActive"
                 ><label for="isActive">Yes</label>
          <input type="radio"
                 value="false"
                 formControlName="active"
                 id="isInactive"
                 ><label for="isInactive">No</label>
        </mat-form-field>
      </div>

      <!--close and submit buttons-->
      <div class="buttoncontainer">
      <div class="buttons">
        <button class="btn but-sm btn-secondary" (click)="closeDialog()">Cancel</button>
        <button [disabled]="productForm.invalid" class="btn but-sm btn-primary" (click)="submitForm()">Add product</button>
      </div>
      </div>
    </form>

  </div>
</div>
