<div>
  <h4 class="mt-0">Reservation date:</h4>
  <mat-form-field>
    <input placeholder="Inleverdatum (dd-MM-yyyy)" maxlength="10" minlength="10" #inleverdatumInput>

  </mat-form-field>
  <div>
    <h4 class="mt-0">Submission date:</h4>
    <input placeholder="Uitleendatum (dd-MM-yyyy)" maxlength="10" minlength="10" #uitleendatumInput>
  </div>
</div>
<div class="card bg-light basket-min-height pb-5">
  <div class="card-body pt-0 pl-0 pb-0 pr-0">
    <table class="table table-hover mb-0">
      <thead>
      <tr>
        <th>Product</th>
        <th>Qty.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of test">
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" (click)="onNoClick()"  class="btn but-sm btn-secondary">Cancel</button>
<button mat-raised-button *ngIf="inleverdatumInput.checkValidity()" (click)="reserveBasket(inleverdatumInput.value,uitleendatumInput.value,'gereserveerd')">Reserve</button>
