<button mat-raised-button (click)="addLening('22-10-2017','10-10-2017','gereserveerd')">Add reservering test</button>

<table class="table">
  <thead class="thead-inverse">
  <tr>
    <!--<th>#</th>-->
    <th>Lener</th>
    <th>Email</th>
    <th>Status</th>
    <th>Producten</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items | async">
    <!--<th scope="row">{{item.$key}}</th>-->
    <td>{{item.lener}}</td>
    <td>{{item.lenermail}}</td>
    <td>{{item.status}}</td>
    <td><span *ngFor="let product of item.producten"><li *ngIf="product != null">{{getProduct(product.id)}}: {{product.aantal}}x</li></span></td>
    <!--<td>{{item)}}</td>-->
    <!--<td>{{item.productid}} : {{item.aantal}}x</td>-->
    <td>
      <button *ngIf="item.status == 'gereserveerd'" mat-raised-button color="primary" (click)="uitlenen(item.$key)">Uitlenen</button>
    </td>
  </tr>
  </tbody>
</table>
