<!--De menubalk:-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Uitleensysteem</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
      <a class="nav-item nav-link" routerLink="/catalog" routerLinkActive="active" *ngIf="auth.isLoggedIn()">Catalog</a>
      <a class="nav-item nav-link" routerLink="/reservations" routerLinkActive="active">Reservations</a>
      <!--<a class="nav-item nav-link active" routerLink="/login" routerLinkActive="active">Login</a>-->
      <!--<a class="nav-item nav-link active" (click)="login()" *ngIf="!auth.isLoggedIn()">Login</a>-->
      <!--<a class="nav-item nav-link active" (click)="logout()" *ngIf="auth.isLoggedIn()">Logout</a>-->
    </div>
    <span class="navbar-text">
      {{auth.getDisplayName()}} &nbsp;
    </span>
    <a class="navbar-brand" href="#">
      <img [src]="auth.getPhotoURL()" width="30" height="30" class="d-inline-block align-top circular" alt="">
    </a>
    <button type="button" class="btn btn-outline-primary" (click)="login()" *ngIf="!auth.isLoggedIn()">Login</button>
    <button type="button" class="btn btn-outline-primary" (click)="logout()" *ngIf="auth.isLoggedIn()">Logout</button> &nbsp;&nbsp;
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
