<div class="jumbotron">
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Email</th>
      <th>Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{ user.email }}</td>
      <td>
        <form>
          <mat-form-field>
            <mat-select placeholder="{{user.rol}}" name="rol" [(ngModel)]="selectedValue" (change)="changeRole(user.$key, selectedValue)" #objectcontrol="ngModel">
              <!--[(ngModel)]="selectedValue" (change)="changeRole(user.$key, selectedValue)-->
              <!--<mat-option *ngFor="let rol of rollen" [value]="rol.key">{{rol.value}}</mat-option>-->
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="moderator">Moderator</mat-option>
              <mat-option value="user">User</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
